- group_status = CommitStatus.where(id: subject).status
%button.dropdown-menu-toggle.has-tooltip{ type: 'button', data: { toggle: 'dropdown', title: "#{name} - #{group_status}" } }
  %span{class: "ci-status-icon ci-status-icon-#{group_status}"}
    = ci_icon_for_status(group_status)
  %span.ci-status-text
    = name
  %span.dropdown-counter-badge= subject.size
.dropdown-menu.grouped-pipeline-dropdown
  .arrow
  %ul
    - subject.each do |status|
      %li.dropdown-build
        = render 'ci/status/graph_badge', subject: status
